<form
    hx-post="{% url 'edit_todo' todo.pk %}"
    hx-target="#todo-{{ todo.pk }}"
    hx-swap="outerHTML"
    >
    {% csrf_token %}
    <li
        id="todo-{{ todo.pk }}"
        class="flex items-center justify-between p-4 bg-yellow-100 border-b border-gray-200"
        >
        <input
            type="text"
            name="title"
            value="{{ todo.title }}"
            class="flex-grow p-2 text-lg border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 mr-2"
            autofocus
            />
        <div class="flex items-center space-x-2">
          <button
              type="submit"
              class="px-3 py-1 text-sm font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600"
              >
              Save
          </button>
            <button type="button" 
                    hx-get="{% url 'get_todo_item' todo.pk %}" 
                    hx-target="#todo-{{ todo.pk }}" 
                    hx-swap="outerHTML"
                    class="px-3 py-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300">
              Cancel
            </button>
        </div>
    </li>
</form>
